# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
pip-log.txt
.cache
.pytest_cache/
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache
.python-version
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/
.idea/
*.sqlite3
*.sqlite3-journal